:root {
    --primary: #8c839e;
}

body {
    margin: 0 auto;
    font-family: Kokonor, sans-serif;
    min-width: 90vw;
    max-width: 1200px;
    padding: 10px;
}

button {
    background: var(--primary);
    padding: 5px;
    margin: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

.icon-button {
    margin-left: 10px;
}

.input {
    padding: 4px;
}

button:hover {
    background: lightblue;
}

.column-delete-and-rate {
    display: flex;
}

.character-types {
    height: 2rem;
}

.input, .character-types {
    margin-left: 2px;
}

.role-text {
    max-width: 1000px;
    margin-top: 50px;
}

.role-rating {
    margin-top: 20px;
}

.text-area-input {
    margin-left: 5px;
    border: 2px solid transparent;
    background-color: lightgray;
    font-size: 20px;
    border-radius: 12px;
}

.howtorun-div {
    max-width: 1000px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.howtorun-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}

.clocktower-icon {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.clocktower-icon-div {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.div {
    margin-top: 30px;
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.max-width {
    max-width: 800px;
}

.clocktower-icon-role-idea {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.border-spacing-10 {
    border-spacing: 10px;
    width: 100%;
}

.margin-top-20 {
    margin-top: 20px;
}

.page-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .edit-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 200px;
    }
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-left-30 {
    margin-left: 30px;
}

.height-20 {
    height: 20px;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.column-role-idea {
    width: 100%;
}

.margin {
    margin: 5px;
}

.padding-6 {
    padding: 6px;
}

.flex-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.next-to-each-other {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    background-color: lightskyblue;
}

.comment {
    overflow-wrap: break-word;
}

.flex-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.font-size-18 {
    font-size: 18px;
}

.margin-top-10 {
    margin-top: 10px;
}

.delete-popup-background {
    background-color: rgba(150, 150, 150, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    display: none;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.delete-confirmation-popup {
    background-color: white;
    width: 40%;
}

.red {
    color: #cc0f0f;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.margin-5 {
    margin: 5px;
}

.padding-3 {
    padding: 3px;
}

.margin-left-6 {
    margin-left: 6px;
}

.margin-left-2 {
    margin-left: 2px;
}

.margin-0-auto {
    margin: 0 auto;
}

.max-width-800 {
    max-width: 800px;
}

.width-115 {
    width: 115px;
}

.night-order-info-text {
    position: absolute;
    background-color: gray;
    overflow: scroll;
    right: -190px;
    width: 180px;
    height: 250px;
    padding: 4px;
}

.night-order-container {
    position: relative;
}

.padding-20 {
    padding: 20px;
}

.role-div {
    margin: 5px;
    min-width: 90vw;
}

.rate-input {
    padding: 6px 0;
}

.margin-right-10 {
    margin-right: 10px;
}

.script-selection {
    max-width: 125px;
}

.tag-filter-selection {
    max-width: 120px;
}

.display-none {
    display: none;
}

.padding-50 {
    padding: 50px;
}

.ability-text {
    padding: 0 50px;
}