:root{
    --primary: #8c839e;
}

body {
    margin: 0 auto;
    font-family: Kokonor, sans-serif;
    max-width: 1200px;
    padding: 10px;
}

button {
    background: var(--primary);
    padding: 5px;
    margin: 5px;
}

.clocktowerimage, .center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    list-style: none;
}

.icon-button {
    margin-left: 10px;
}

.rate-history {
    margin-top: 20px;
}

.input {
    padding: 4px;
}

button:hover {
    background: lightblue;
}

.column-delete-and-rate {
    display: flex;
}

.character-types {
    height: 2rem;
}

.input, .character-types {
    margin-left: 2px;
}

.role-text {
    max-width: 1000px;
    margin-top: 50px;
}

.role-rating {
    margin-top: 20px;
}

.text-area-input {
    margin-left: 5px;
    border: 2px solid transparent;
    background-color: lightgray;
    font-size: 20px;
}

.howtorun-div {
    max-width: 1000px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.howtorun-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}

.clocktower-icon {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.clocktower-icon-div {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.div {
    margin-top: 30px;
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.max-width {
    max-width: 800px;
}

.clocktower-icon-role-idea {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.role-idea-list {
    display: flex;
    align-items: center;
}

.border-spacing-10 {
    border-spacing: 10px;
    width: 100%;
}

.margin-top-20 {
    margin-top: 20px;
}

.page-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-left-100 {
    margin-left: 100px;
}

.margin-left-30 {
    margin-left: 30px;
}

.edit-button-container {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.height-20 {
    height: 20px;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.homebrewroles {
    width: 100%;
}

.column-role-idea {
    width: 100%;
}